@import "tailwindcss";

.glass {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;
}

/* Global background */
body {
  background-color: #f2f2f2;
}